.auth-layout {
	display: flex;
	min-height: 100dvh;
}

.auth-layout__image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid var(--separator-color);
}

.auth-layout__content {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-layout__form {
	width: 325px;
}