:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #e35e39;
  --text-color: #000000;
  --white-color: #ffffff;
  --text-secondary-color: #5b5b5e;
  --separator-color: #d4d6e0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  border: none;
}

a {
  text-decoration: none;
}

button {
  color: var(--white-color);
}

body {
  height: 100dvh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-color);
}